<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
        <div class="navbar-brand text-center"> <a href="index.html"><img src="/../../assets/style/images/logo.png" alt="" data-src="/../../assets/style/images/logo.png" data-ret="/../../assets/style/images/logo@2x.png" class="retina" /></a> </div>
        <!-- /.navbar-brand -->
    </div>
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="current"><a href="#home">Home</a></li>
            <li><a href="#portfolio">Portfolio  <i class="icon-heart-1"></i></a></li>
        </ul>
        <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- /.navbar -->