<div class="container">
    <section id="about">
        <div class="box">
            <div class="row">
                <div class="col-md-5 col-md-push-7 col-sm-12">
                    <div class="row">
                        <div id="scrape-btn" class="alert alert-warning"> <strong>Warning!</strong> Best check yo self, you're not looking too good. </div>
                    </div>
                </div>
                <!-- /column -->
                <div class="col-md-7 col-md-pull-5 col-sm-12">
                    <p class="lead">Tired of visiting <a href="https://thepiratebay3.org/">thepiratebay.org</a> and watching all those annoying ads as you navigate? </p>
                    <p>With Torrent Scraper you can get the information you need to know before downloading a torrent and without directly visiting the main site and avoid the ugly ads that the site nests.</p>
                    <h2 class="section-title">How does it work?</h2>
                    <p>Tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    <p>Fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla.</p>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="clearfix"></div>
            <div class="divide40"></div>
            <h2 class="section-title">Scraped Torrents</h2>
            <div class="divide10"></div>
            <div class="services-1">
                <div id="scraper-container" class="row">

                    {{>torrent}}

                </div>
                <!-- /.row -->
            </div>
            <!-- /.services -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /#about -->
</div>
<!-- /.container -->
<script src="/../../assets/js/index.js"></script>